/*
@media screen and (min-width: 1001px) {
    body {
        margin: auto;
        width: 70%
    }
}
@media screen and (min-width: 751px) and (max-width: 1000px) {
    body {
        margin: auto;
        width: 85%;
    }
}
@media screen and (max-width: 750px) {
    body {
        margin: auto;
        width: 90%;
    }
    .navbar .title {
        float: left; 
        padding-top: 8px;
    }
    .navbar .items {
        float: right;
    }
}
*/
@font-face {
    font-family: corbel;
    src: url(../corbel/CORBEL.TTF);
}
@font-face {
    font-family: corbelbold;
    src: url(../corbel/CORBELB.TTF);
}

body {
    font-family: corbel, "Lucida Grande", Arial, sans-serif;
    color: #224958;
    margin-top: 80px;
    margin-left: 260px;
    margin-right: 260px;
}
a {
    color: #89c4db;
}

/* style top navigation bar */
.navbar {
    background-color: #89c4db;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -260px;
    z-index: 3;
}
.navbar .title {
    float: left; 
    padding-top: 8px;
    margin-left: 260px;
}
.navbar .items {
    float: right;
    margin-right: 260px;
}
.navbar .items a {
    font-size: 17px;
    float: left;
    color: #f0f0f2;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}
.navbar .items a:hover {
    background-color: #f0f0f2;
    color: #224958;
}
.navbar .items a.active {
    background-color: #224958;
    color: #f0f0f2;
}
/*
.navbar #titlelogo {
    padding-right: 10px;
}
*/

/* style cover on home page */
#homebody {
    margin-top: 500px;
}
#banner {
    position: absolute;
    top: 79px;
    left: 260px;
    z-index: 1;
}
#logo {
    position: absolute;
    top: 130px;
    left: 560px;
    z-index: 2;
}

/* style board members table */
#boardmembers {
    border-collapse: collapse;
}
#boardmembers td {
    vertical-align: top;
    padding: 20px 50px;
    width: 50%;
    border-bottom: 1px solid #ccc;
}
#boardmembers img {
    padding-left: 40px;
}

/* style photo gallery */
.gallery {
    width: 100%;
    margin-left: 10px;
}
.gallery .photo {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 210px;
    height: 140px;
}
.gallery .photo:hover {
    border: 1px solid #777;
}
.gallery .photo img {
    width: 100%;
    height: 100%;
}